OLLAMA_BASE_URL=http://localhost:11434

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=<your_password>
PG_DATABASE=<your_db_name>

TAVILY_API_KEY=<your_tavily_api_key>
LANGSMITH_API_KEY=<your_langsmith_api_key>
HF_TOKEN=<your_huggingface_token>

POSTGRES_URI=postgres://<user>:<password>@localhost:5432/<db_name>
